/* Headline Section */
#headline-section {
  width: 100%;
  min-height: 70vh;
  background-image: url(asset/about_bg_main.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 25% 7%;
  background-color: #f7f7f8;
}

.headline-container {
  text-align: center;
}

.headline-container .heading {
  margin-bottom: 40px;
}

#headline-text {
  background-color: white;
  font-size: 0.9rem;
  color: #000;
  padding: 24px 9.5px;
}

#headline-contact {
  padding: 25px 30px;
  color: #5f5f5f;
  font-size: 14px;
  line-height: 1.5rem;
}

#headline-contact a {
  color: #5f5f5f;
}

/* Logo Section */
#headline-section,
#logo-section,
#past-summits,
.sponsors {
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

#logo-description,
#summit-description,
.sponsors-container {
  text-align: center;
}

.sponsors-container .dash {
  margin-bottom: 15px;
}

#logo-description .dash,
#summit-description .dash {
  margin: 10px 0 0 0;
}

#logo-description p,
#summit-description p {
  margin: 20px 0 30px 0;
}

#logo-description p {
  color: #838383;
}

.logo-img-container {
  padding: 10px 0;
  display: flex;
}

#logo-section .logo-img-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d7d7;
}

.logo-img-container img {
  width: 100px;
}

/* Summits */
#past-summits {
  border-top: 1px solid #d7d7d7;
}

.summits {
  width: 100%;
  display: grid;
  grid-template-rows: 234px 234px;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.summit > div {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
}

#summit-1 {
  background-image: url(asset/summit-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#summit-2 {
  background-image: url(asset/summit-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sponsors */
.sponsors {
  background-color: #414246;
  color: #fff;
}

.sponsors-container > div {
  width: 100%;
}

.sponsors-img {
  width: 50px;
}

/* Footer Section */
.footer-container {
  gap: 20px;
}

.footer-container .logo-img-container img {
  width: 40px;
}

.footer-container .logo-img-container h2 {
  font-size: 1rem;
}

.footer-container > div {
  width: 50%;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .summits {
    grid-template-columns: 50% 50%;
    grid-template-rows: 234px;
    column-gap: 25px;
    justify-content: center;
    overflow: hidden;
  }

  .sponsors {
    display: none;
  }

  .bg-dark {
    background-color: #2e2e2e;
    color: #fff;
  }
}
