@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

section {
  padding-left: 2%;
  padding-right: 2%;
}

/* Global Classes */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Remove header for mobile version */
header {
  display: none;
}

/* Hamburger button */
.hamburger {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #272a31;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Transform hamburger to X when open */
.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

/* Mobile Menu */
.overlay-show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.804);
  z-index: 3;
  backdrop-filter: blur(5px);
}

.mobile-main-menu {
  position: fixed;
  width: 70%;
  height: 100%;
  z-index: 3;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-image: url(asset/background-2.png);
  padding: 30% 6% 0 6%;
}

.mobile-main-menu img {
  width: 100px;
  height: 100px;
}

ul {
  list-style-type: none;
}

.mobile-main-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.mobile-main-menu ul li {
  width: 80%;
  border: 1px solid #b9b9b9;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 5px;
}

.mobile-main-menu ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}

.stop-scrolling {
  overflow: hidden;
}

.show-menu {
  transform: translateX(0);
}